
.button-container{
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
button{
	border:none;
	outline:none;
	cursor:pointer;
}
.action-button:active{
	transform: translate(0px,8px);
	-webkit-transform: translate(0px,8px);
	border-bottom: 0px solid hsla(216, 100%, 60%, 0);
	box-shadow:0px 1px 10px #888;
	letter-spacing:.5px;
}

.action-button{
  background: linear-gradient(hsl(216,100%,72%), hsl(216,100%,65%));
	border-bottom: 5px solid hsla(216, 100%, 60%, 1);
	text-shadow: 0px -2px hsl(216, 100%, 60% );
	padding: 10px 40px;
	margin:20px;
	left:50%;
	border-radius: 5px;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	box-shadow:0px 3px 10px #888;
	letter-spacing:0px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  color: #000;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 5px #888888;
}

h1 {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 20px;
}

code {
  font-size: 20px;
  display: block;
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  margin-bottom: 30px;
}